:root {
    --background-color: white;
    --header-color: black;
    --header-font: sans-serif;
    --body-color: black;
    --body-font: sans-serif;
    --primary-color:  rgb(168, 216, 255);
}

h1 {
    color: var(--header-color);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
  
#home-header {
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin-top: 10%;
}

@media screen and (max-width: 900px){
    #home-header {
        flex-direction: column;
    }

    #home-header > img {
        margin-top: 50px;
    }
}

#home-body {
    background-color: var(--primary-color);
}

.home-section {
    height: 100vh;
    width: 100%;
}

#home-section-2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-header-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home-header h1 {
    font-size: max(5vw, 30px);
    font-family: var(--header-font);
    padding: 0;
    margin: 0;
    width: 100%;
}

.home-paragraph {
    font-size: max(2vw, 20px);
    font-family: var(--body-font);
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: black;
}

.home-title {
    color: rgb(148, 53, 53);
    font-size: max(6vw, 30px);
}

#home-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.down-arrow {
    margin-top: 5%;
    cursor: pointer;
}

#home-subtitle {
    text-align: left;
    font-size: max(1.7vw, 30px);
    padding-left: 10%;
    padding-right: 10%;
    color: black;
}

#home-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.home-link {
    text-decoration: underline;
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: max(3vw, 30px);
    margin-bottom: 20px;
}

.home-link:hover {
    color: white;
}

#home-dialog{
    width: 80vw;
}


/* TRAIN STYLES */
.site-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 7em;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.app-img {
    width: 3em;
    height: 3em;
    background-color: black;
    margin-left: 1.5em;
}

.header-logo {
    width: 6em;
    height: 6em;
    margin-left: 1.5em;
    cursor: pointer;
}

.page-title {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding: 0;
    margin-left: 30px;
    margin-top: 70px;
    cursor: pointer;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 6em);
}

/* Left side of the web app (feature options that can be selected) */
.train-body-left {
    background-color: #FFFFFF;
    position: relative;
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
}

.feature-option {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-weight: 600;
    font-size: 1em;

    width: 10em;
    height: 3em;

    margin: 2em 2em;

    border-radius: 0.4em;

    background-color: var(--primary-color);

    box-shadow: 3px 3px 6px 1px #888888;
    padding: 40px;

    border: none;
    outline: none;

    cursor: pointer;
}

.feature-option:hover {
    background-color: rgb(131, 157, 228);
}

.feature-selected {
    background-color: rgb(131, 157, 228);
}

#feature-instructions {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: max(1.2vw, 20px);
    height: 4em;
    width: 100%;
}


/* * Right side of the web app (selected train features and btn to start) */
.train-body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 30vw;

    margin: 0;
    padding: 0;


    background-color: #C4C4C4;
}

#selected-features-list {
    width: 99%;
    height: 80%;
    
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

#start-train-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    outline: none;
    border: none;

    width: 60%;
    height: 3.5em;

    margin: 0;
    padding: 0;

    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.2em;

    border-radius: 0.4em;
    background-color: var(--primary-color);
    cursor: pointer;
}

.selected-features-item {
    font-family: sans-serif;
    font-size: 1.5em;
    margin: 10px;
}

/* RESULTS STYLES */
#results-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 7em);
}

#results-test {
    background-color: #FFFFFF;
    position: relative;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#results-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #C4C4C4;
    justify-content: space-between;
}

.results-quad-div {
    position: relative;
    width: 50%;
    height: 50%;

}

#results-features {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;
    height: 100%;
}

#results-features input, #results-features select {
    width: 100%;
    margin-bottom: 10%;
    border: none;
    border-bottom: black solid;
    background-color: #e7e7e7;
    margin-top: 1%;
}

#results-features label {
    align-self: flex-start;
}

#test-persona, #retrain-button {
    border-radius: 10px;
    background-color: transparent;
    border: rgb(0, 21, 80) solid;
    color: rgb(0, 21, 80);
    font-size: max(2vw, 20px);
    padding: 10px;
}

#retrain-button {
    justify-self: flex-end;
    margin-bottom: 20px;
}

#test-persona:hover, #retrain-button:hover {
    color: white;
    background-color: rgb(0, 21, 80);
}

.term-definition {
    color: blue;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#results-dialog{
    width: 80vw;
}

#results-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
}

#results-dialog-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recid-pred {
    color: rgb(122, 0, 0);
    font-weight: bold;
    border-bottom: 1px solid rgb(122, 0, 0);
}

.not-recid-pred {
    color: rgb(1, 112, 10);
    font-weight: bold;
    border-bottom: 1px solid rgb(1, 112, 10);
}

#results-dialog-h2 {
    font-size: 50px;
}

#results-dialog-p1, #results-dialog-p2 {
    font-size: 20px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.438)
}

#results-dialog-img {
    width: 30vw;
    height: 30vw;
    align-self: center;
}

#home-dialog-img {
    width: 30vw;
    height: 30vw;
    align-self: center;
}

dialog {
    border: none;
    border-radius: 10px;
}