<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndexDB Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/database-style.css') }}">
</head>
<body>
    <h1>DATABASE TESTING</h1>
    <button type="button" id="get-model-btn">Click to Download a Model (in your browser DB)!</button>
    <button type="button" id="send-model-btn">Click to Send Your Model (from your browser DB)!</button>

    <script src="{{ url_for('static', filename='js/database.js') }}"></script>
</body>
</html>