<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body id="home-body">
    <div class=home-section id="home-header-cont">
        <div id="home-header">
            <img src="../static/img/TEA Logo.png" style="margin-left:5%">
            <div id="home-title-container">
                <h1><span class="home-title">T</span>ransparency and</h1> <br>
                <h1><span class="home-title">E</span>ducation of</h1> <br>
                <h1><span class="home-title">A</span>rtificial Intelligence</h1> 
            </div>
        </div>
        <img src="../static/img/down_arrow.png" class="down-arrow" id="down-arrow-1" width=50 height=50>
    </div>
    

    <div id="home-section-2" class="home-section">
        <div class="home-paragraph">
            In the present day, AI has a wide range of applications:
            <ul>
                <li>
                    Commercial Uses (<a href="http://cds.cern.ch/record/400313/files/p21.pdf">Computer Vision</a>, <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/ajim.23037">VR</a>)
                </li>
                <li>
                    Entertainment (<a href="https://www.researchgate.net/publication/320542489_Profilio_Psychometric_Profiling_to_Boost_Social_Media_Advertising">Social Media Algorithms</a>, <a href="https://www.moma.org/calendar/exhibitions/3863">AI-Generated Art</a>)
                </li>
            </ul>
            As well as:
            <ul>
                <li>
                    Law Enforcement (<a href="https://electronics.howstuffworks.com/gadgets/high-tech-gadgets/facial-recognition.htm">Face Recognition</a>, <a href="https://iaedjournal.org/i-dispatcher/">Dispatch Systems</a>)
                </li>
                <li>
                    Judicial Proceedings (<a href="https://www.ft.com/content/fef40df0-4a6a-11e9-bde6-79eaea5acb64">Electronic Discovery</a>, <a href="https://www.propublica.org/article/how-we-analyzed-the-compas-recidivism-algorithm">Recidivism Prediction</a>)
                </li>
            </ul>
            This app will let you:
            <ul>
                <li>
                    Create your own AI model to help judges predict cases of recidivism
                </li>
                <li>
                    Analyze how your model will impact other people
                </li>
                <li>
                    Show the effects of your model on individuals of different backgrounds
                </li>
            </ul>
            As you walk through this app think about:
            <ul>
                <li>
                    How much trust can we put into AI without knowing how it was trained and on what dataset?
                </li>
                <li>
                    How does AI make choices?
                </li>
                <li>
                    Where in society should AI be used?
                </li>
                <li>
                    What happens when AI makes mistakes?
                </li>
            </ul>
        </div>
        <img src="../static/img/down_arrow.png" class="down-arrow" id="down-arrow-2" width=50 height=50>
    </div>
    
    <div id="home-section-3" class="home-section">
        <p class="home-paragraph-2">
            The best way to understand how Machine Learning is trained<br /> 
            and used is to try it yourself. You'll roleplay as a developer<br /> 
            in charge of creating a model for use in a court that helps<br /> 
            the judge make their decision with only the data the<br />
            local Justice Department provides you.<br />
            <span style="font-weight: bold;">Ready to get started?</span>
        </p>
        <div id="home-buttons">
            <div id="start-btn" class="home-link">Let's Begin</div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <dialog id="home-dialog">
        <form id="results-dialog-form" method="dialog">
            <img id="home-dialog-img" height=300 width=300>
            <div id="results-container">
                <h2 id="home-dialog-header"></h2>
                <p id="home-dialog-body"></p>
            </div>
            <img id="home-close" src="../static/img/close_button.png" width=30 height=30>
        </form>
    </dialog>
</body>
</html>