<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="site-header">
        <div class="app-img"></div>
        <h1 class="page-title">NAME FOR WEB APP</h1>
    </header>
    <div class="main-body">
        <div class="train-body-left">
            <!-- Example buttons that will be changed later -->
            <button class="feature-option">Feature 1</button>
            <button class="feature-option">Feature 2</button>
            <button class="feature-option">Feature 3</button>
            <button class="feature-option">Feature 4</button>
            <button class="feature-option">Feature 5</button>
            <button class="feature-option">Feature 6</button>
        </div>
        <div class="train-body-right">
            <ul class="selected-features-list">

            </ul>
            <button class="start-train-btn">TRAIN</button>
        </div>
    </div>
</body>
</html>