<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header class="site-header">
        <img class="header-logo" src="../static/img/TEA Logo.png" onclick="location.href='/';">
        <h1 class="page-title" onclick="location.href='/';">TEA</h1>
    </header>
    
    <div class="main-body">
        <div class="train-body-left">
            <p id="feature-instructions">
                Machine learning models are created by analyzing multiple categories of information
                called features. Feature selection is performed by the humans that are responsible 
                for coding the model. Please select the features you would like to train your model with.
            </p>
            <button class="feature-option">Age</button>
            <button class="feature-option">Sex</button>
            <button class="feature-option">Race</button>
            <button class="feature-option">Date of Birth</button>
            <button class="feature-option">Juvenile Felony Count</button>
            <button class="feature-option">Juvenile Misdemeanor Count</button>
            <button class="feature-option">Juvenile Other Count</button>
            <button class="feature-option">Priors Count</button>
            <button class="feature-option">Charge Degree</button>
        </div>
        <div class="train-body-right">
            <ul id="selected-features-list"></ul>
            <button id="start-train-btn">TRAIN</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/input.js') }}"></script>
</body>
</html>